In [13]:
import json
import pickle
import numpy as np
json_file_path = './test_files.json'

# read test json file
with open(json_file_path) as f:
    test_data = json.load(f)

# # filter norm test data
test_files = [f for f in test_data if '*img.tif' in f]

In [7]:
# Define a function to recursively search for matching strings
import json
import fnmatch
def find_matching_strings(obj, pattern):
    matches = []
    if isinstance(obj, dict):
        for key, value in obj.items():
            matches.extend(find_matching_strings(value, pattern))
    elif isinstance(obj, list):
        for item in obj:
            matches.extend(find_matching_strings(item, pattern))
    elif isinstance(obj, str):
        if fnmatch.fnmatch(obj, pattern):
            matches.append(obj)
    return matches

# Define the pattern to match
pattern = '*img.tif'

# Find all matching strings in the JSON data
matching_strings = find_matching_strings(test_data, pattern)

In [8]:
test_id = [item.split('_')[0] for item in matching_strings]
test_id = sorted(test_id, key=int)

In [9]:
with open('./annotation_position_info.pkl', 'rb') as f:
    ori_data = pickle.load(f)

/tmp/ipykernel_328920/2941550060.py:2: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  ori_data = pickle.load(f)

In [10]:
test_df = ori_data[ori_data['ID'].isin(test_id)]

In [11]:
test_df

,ID,integer_ID,instance_counts,corner,source,ref_channel,channel,crop_size,select_plane,isHard,plane_position
5,0005,5,31,"[1227, 551, 2984]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,49.0
6,0006,6,15,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,61.0
9,0009,9,11,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,50.0
17,0017,17,45,"[1148, 1693, 1139]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
22,0022,22,83,"[1740, 2127, 5337]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
24,0024,24,0,"[1118, 5850, 4848]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,0.0
30,0030,30,63,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
33,0033,33,0,"[204, 6177, 2931]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,0.0
42,0042,42,0,"[1222, 5947, 908]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
45,0045,45,16,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
46,0046,46,0,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
56,0056,56,28,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
59,0059,59,14,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
60,0060,60,2,"[1207, 2997, 4567]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
63,0063,63,0,"[1207, 5416, 1315]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
66,0066,66,5,"[1099, 382, 3189]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
75,0075,75,10,"[1227, 551, 2984]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
77,0077,77,0,"[1227, 1222, 3219]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
79,0079,79,124,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
84,0084,84,0,"[1207, 2510, 3976]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
90,0090,90,59,"[1656, 1223, 3622]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
101,0101,101,26,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,45.0
109,0109,109,53,"[1332, 4736, 494]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,11.0
113,0113,113,151,"[1671, 4782, 3126]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,0.0
117,0117,117,108,"[1896, 7862, 2083]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,12.0
118,0118,118,140,"[1924, 7891, 2088]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,49.0
119,0119,119,0,"[1869, 8236, 3489]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,0.0
124,0124,124,35,"[1915, 1912, 3356]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,2.0
125,0125,125,35,"[1867, 2386, 5220]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,49.0
143,0143,143,84,"[1214, 4051, 5667]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,83.0
146,0146,146,19,"[292, 6705, 2341]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,61.0
147,0147,147,9,"[188, 6688, 3369]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,68.0
158,0158,158,101,"[900, 3792, 5024]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,73.0
159,0159,159,118,"[1000, 2792, 3144]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,12.0
165,0165,165,106,"[1008, 7270, 2536]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,3.0,85.0
168,0168,168,198,"[1029, 6925, 4930]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,3.0,97.0
172,0172,172,139,"[1404, 3356, 4747]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
176,0176,176,42,"[1527, 3192, 1478]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
177,0177,177,28,"[1561, 1100, 1932]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
181,0181,181,11,"[881, 2570, 5608]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,49.0
183,0183,183,1,"[831, 739, 3776]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,0.0
202,0202,202,31,"[1895, 5132, 1011]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,5.0,17.0
213,0213,213,236,"[1277, 1599, 1145]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,49.0
221,0221,221,136,"[1197, 3800, 4884]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,1.0
227,0227,227,22,"[1074, 5892, 5460]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,16.0
231,0231,231,4,"[943, 4331, 4980]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,34.0
238,0238,238,30,"[1335, 4103, 5535]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,19.0
244,0244,244,39,"[874, 2539, 1301]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,8.0,63.0
246,0246,246,0,"[983, 7621, 2137]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
260,0260,260,51,"[1000, 3959, 987]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,38.0
269,0269,269,43,"[1698, 6076, 2136]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,44.0
271,0271,271,251,"[1257, 7096, 1954]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
274,0274,274,162,"[716, 5718, 4326]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
275,0275,275,34,"[1094, 4194, 1046]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,41.0
277,0277,277,106,"[1187, 3292, 1448]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
279,0279,279,93,"[1153, 4636, 2866]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
281,0281,281,26,"[1139, 5008, 3822]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
282,0282,282,13,"[1164, 5110, 3803]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,45.0
285,0285,285,51,"[1639, 7418, 3041]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0

In [15]:
random_sample = test_df.sample(n=11, random_state=42)
selected_ids = random_sample.index.tolist()
selected_points = test_df.loc[selected_ids, 'corner'].tolist()
selected_points = np.array(selected_points)

In [17]:
remaining_df = test_df.drop(index=selected_ids)

In [18]:
remaining_df

,ID,integer_ID,instance_counts,corner,source,ref_channel,channel,crop_size,select_plane,isHard,plane_position
6,0006,6,15,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,61.0
9,0009,9,11,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,50.0
17,0017,17,45,"[1148, 1693, 1139]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
22,0022,22,83,"[1740, 2127, 5337]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
30,0030,30,63,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
33,0033,33,0,"[204, 6177, 2931]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,0.0
42,0042,42,0,"[1222, 5947, 908]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
45,0045,45,16,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
46,0046,46,0,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
56,0056,56,28,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
63,0063,63,0,"[1207, 5416, 1315]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
66,0066,66,5,"[1099, 382, 3189]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
75,0075,75,10,"[1227, 551, 2984]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
77,0077,77,0,"[1227, 1222, 3219]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
79,0079,79,124,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
84,0084,84,0,"[1207, 2510, 3976]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
90,0090,90,59,"[1656, 1223, 3622]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
101,0101,101,26,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,45.0
109,0109,109,53,"[1332, 4736, 494]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,11.0
113,0113,113,151,"[1671, 4782, 3126]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,0.0
117,0117,117,108,"[1896, 7862, 2083]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,12.0
119,0119,119,0,"[1869, 8236, 3489]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,0.0
124,0124,124,35,"[1915, 1912, 3356]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,2.0
125,0125,125,35,"[1867, 2386, 5220]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,49.0
143,0143,143,84,"[1214, 4051, 5667]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,83.0
146,0146,146,19,"[292, 6705, 2341]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,61.0
147,0147,147,9,"[188, 6688, 3369]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,68.0
158,0158,158,101,"[900, 3792, 5024]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,73.0
159,0159,159,118,"[1000, 2792, 3144]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,12.0
168,0168,168,198,"[1029, 6925, 4930]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,3.0,97.0
172,0172,172,139,"[1404, 3356, 4747]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
176,0176,176,42,"[1527, 3192, 1478]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
177,0177,177,28,"[1561, 1100, 1932]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
181,0181,181,11,"[881, 2570, 5608]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,49.0
183,0183,183,1,"[831, 739, 3776]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,0.0
202,0202,202,31,"[1895, 5132, 1011]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,5.0,17.0
213,0213,213,236,"[1277, 1599, 1145]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,49.0
221,0221,221,136,"[1197, 3800, 4884]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,1.0
227,0227,227,22,"[1074, 5892, 5460]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,16.0
238,0238,238,30,"[1335, 4103, 5535]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,19.0
246,0246,246,0,"[983, 7621, 2137]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
269,0269,269,43,"[1698, 6076, 2136]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,44.0
271,0271,271,251,"[1257, 7096, 1954]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
274,0274,274,162,"[716, 5718, 4326]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
277,0277,277,106,"[1187, 3292, 1448]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
279,0279,279,93,"[1153, 4636, 2866]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
281,0281,281,26,"[1139, 5008, 3822]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
285,0285,285,51,"[1639, 7418, 3041]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0

In [19]:
# Check for overlap using isin()
overlap = remaining_df['ID'].isin(random_sample['ID'])

# Get the IDs that overlap
overlapping_ids = remaining_df[overlap]['ID']

# Check if there is any overlap
if not overlapping_ids.empty:
    print("There is an overlap in the 'ID' column between remaining_df and random_sample.")
    print("Overlapping IDs:")
    print(overlapping_ids)
else:
    print("There is no overlap in the 'ID' column between remaining_df and random_sample.")

There is no overlap in the 'ID' column between remaining_df and random_sample.

In [26]:
save_path_train = './val_train.pkl'
save_path_val= './val_val.pkl'

In [27]:
remaining_df.to_pickle(save_path_train)
random_sample.to_pickle(save_path_val)

In [28]:
with open('./val_train.pkl', 'rb') as f:
    verify_split = pickle.load(f)

In [29]:
verify_split

,ID,integer_ID,instance_counts,corner,source,ref_channel,channel,crop_size,select_plane,isHard,plane_position
6,0006,6,15,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,61.0
9,0009,9,11,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,50.0
17,0017,17,45,"[1148, 1693, 1139]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
22,0022,22,83,"[1740, 2127, 5337]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
30,0030,30,63,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
33,0033,33,0,"[204, 6177, 2931]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,0.0
42,0042,42,0,"[1222, 5947, 908]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
45,0045,45,16,"[445, 4047, 2437]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
46,0046,46,0,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
56,0056,56,28,"[1227, 870, 3137]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
63,0063,63,0,"[1207, 5416, 1315]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
66,0066,66,5,"[1099, 382, 3189]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
75,0075,75,10,"[1227, 551, 2984]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
77,0077,77,0,"[1227, 1222, 3219]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
79,0079,79,124,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
84,0084,84,0,"[1207, 2510, 3976]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
90,0090,90,59,"[1656, 1223, 3622]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
101,0101,101,26,"[445, 6676, 2670]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,45.0
109,0109,109,53,"[1332, 4736, 494]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,11.0
113,0113,113,151,"[1671, 4782, 3126]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,2.0,0.0
117,0117,117,108,"[1896, 7862, 2083]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,12.0
119,0119,119,0,"[1869, 8236, 3489]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,0.0
124,0124,124,35,"[1915, 1912, 3356]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,2.0
125,0125,125,35,"[1867, 2386, 5220]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,6.0,49.0
143,0143,143,84,"[1214, 4051, 5667]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,83.0
146,0146,146,19,"[292, 6705, 2341]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,61.0
147,0147,147,9,"[188, 6688, 3369]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,4.0,68.0
158,0158,158,101,"[900, 3792, 5024]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,73.0
159,0159,159,118,"[1000, 2792, 3144]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,2.0,12.0
168,0168,168,198,"[1029, 6925, 4930]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,3.0,97.0
172,0172,172,139,"[1404, 3356, 4747]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
176,0176,176,42,"[1527, 3192, 1478]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,0.0
177,0177,177,28,"[1561, 1100, 1932]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
181,0181,181,11,"[881, 2570, 5608]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,49.0
183,0183,183,1,"[831, 739, 3776]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,0.0
202,0202,202,31,"[1895, 5132, 1011]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,5.0,17.0
213,0213,213,236,"[1277, 1599, 1145]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,49.0
221,0221,221,136,"[1197, 3800, 4884]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,1.0,1.0
227,0227,227,22,"[1074, 5892, 5460]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,4.0,16.0
238,0238,238,30,"[1335, 4103, 5535]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,19.0
246,0246,246,0,"[983, 7621, 2137]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,0.0
269,0269,269,43,"[1698, 6076, 2136]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,44.0
271,0271,271,251,"[1257, 7096, 1954]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
274,0274,274,162,"[716, 5718, 4326]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
277,0277,277,106,"[1187, 3292, 1448]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
279,0279,279,93,"[1153, 4636, 2866]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,49.0
281,0281,281,26,"[1139, 5008, 3822]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0
285,0285,285,51,"[1639, 7418, 3041]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,49.0

In [30]:
with open('./val_val.pkl', 'rb') as f:
    verify_split = pickle.load(f)

In [31]:
verify_split

,ID,integer_ID,instance_counts,corner,source,ref_channel,channel,crop_size,select_plane,isHard,plane_position
5,0005,5,31,"[1227, 551, 2984]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,49.0
24,0024,24,0,"[1118, 5850, 4848]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,0.0
165,0165,165,106,"[1008, 7270, 2536]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,3.0,85.0
60,0060,60,2,"[1207, 2997, 4567]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
231,0231,231,4,"[943, 4331, 4980]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,4,"[100, 256, 256]",True,0.0,34.0
275,0275,275,34,"[1094, 4194, 1046]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,41.0
282,0282,282,13,"[1164, 5110, 3803]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,0.0,45.0
118,0118,118,140,"[1924, 7891, 2088]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,1,"[100, 256, 256]",True,4.0,49.0
244,0244,244,39,"[874, 2539, 1301]",/mnt/ampa02_data01/tmurakami/240425_whole_4col...,3,2,"[100, 256, 256]",True,8.0,63.0
59,0059,59,14,"[1207, 1266, 4353]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,2,"[100, 256, 256]",True,0.0,49.0
260,0260,260,51,"[1000, 3959, 987]",/mnt/ampa02_data01/tmurakami/240417_whole_4col...,3,4,"[100, 256, 256]",True,0.0,38.0